@media only screen and (min-width: 810px){
    .container{
        max-width: 1200px;
        width: 100%;
    }

    header .container{
        display: flex;
        justify-content: space-between;
    }

    header .nav-1 i{
        display: none;
    }

    header .nav-2{
        display: flex;
    }

    header .nav-2 ul{
        list-style: none;
        display: flex;
    }
    
    header .nav-2 ul li{
        padding: 30px;
    }
    
    header .nav-2 ul li a{
        text-decoration: none;
        color: #FFFFFF;
    }

    .box-fr{
        display: flex;
    }
    
    .box-fr .col{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .box-fr .col .card{
        width: calc(100% / 3 - 20px);
    }

    .planning1-img{
        width: 400px;
    }
}