/* ----------GENERAL---------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ----------UTILITY------------ */
.debug{
    background-color: rgba(255, 0, 0, .5);
    border: 1px solid black;
}

/* ----------COMPONENTS---------- */
.container{
    max-width: 375px;
    margin: 0 auto;
    width: 100%;
}

/* ----------HEADER---------- */
header{
    display: flex;
    align-items: center;
    background-color: #0084FD;
    color: #FFFFFF;
    height: 75px;
}

header .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

header img{
    width: 80px;
}

header i{
    font-size: 1.8rem;
}
/* ----------END HEADER---------- */

/* ----------MAIN---------- */
/* ----------END MAIN ----------*/

/* ----------FOOTER---------- */
/* ----------END FOOTER---------- */