/* ----------GENERAL---------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* ----------UTILITY------------ */
.debug{
    background-color: rgba(255, 0, 0, .5);
    border: 1px solid black;
}

/* ----------COMPONENTS---------- */
.container{
    max-width: 375px;
    margin: 0 auto;
    width: 100%;
}

.card{
    background-color: #B5DDFF;
    border-radius: 25px;
    padding: 0 30px;
    padding-top: 40px;
    margin-bottom: 25px;
    color: #647b8e; 
}

.btn{
    border-radius: 40px;
    font-weight: bold;
}

.btn-blue{
    padding: 15px 50px;
    text-align: center;
    background-color: #0084fd;
    color: #FFFFFF;
    margin-top: 40px;
}
/* ----------HEADER---------- */
header{
    display: flex;
    align-items: center;
    background-color: #0084FD;
    color: #FFFFFF;
    height: 75px;
}

header .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

header img{
    width: 80px;
}

header i{
    font-size: 1.8rem;
}
/* ----------END HEADER---------- */

/* ----------MAIN---------- */
main .first-region{
    padding: 50px 30px;
}

.first-region .card h2{
    font-size: 1.4rem;
    color: #4aa8fd;
    padding-bottom: 40px;
}

.first-region .card p{
    font-size: 1.1rem;
    font-weight: bold;
}

.first-region .phone-img{
    padding-top: 40px;
    width: 195px;
    display: block;
    margin: auto;
}
/* ----------END MAIN ----------*/

/* ----------FOOTER---------- */
/* ----------END FOOTER---------- */