@media only screen and (min-width: 481px) {
    .container{
        max-width: 810px;
        margin: 0 auto;
        width: 100%;
    }

    .first-region .row{
        display: flex;
        flex-wrap: wrap;
    }

    .first-region .row .f-box1{
        width: calc(100% / 1.5 - 20px);
        margin: 10px;
    }

    .first-region .row .card{
        width: calc(100% / 3 - 20px);
        margin: 10px;
    }

    .planning1-img{
        width: 100%;
        padding-top: 125px;
    }

    .card-violet{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .card-violet .circle-img{
        margin-right: 30px;
    }
}